.panel {
  &.microscope {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.45);
    margin-bottom: 20px;

    .microscope-video-status {
      position: absolute;
      right: 10px;
      top: 6px;
      font-size: 30px;
    }

    &.disabled {
      & > .panel-heading {
        color: red;
      }

    }

    &.enabled {
      & > .panel-heading {
        color: $success;
      }

    }

    &.selected{
      outline: 3px solid #209e91;
    }

    & .panel-heading, .panel-footer {
      padding: 12px 12px
    }

    & > .panel-body {
      padding: 0;
      height: 100%;
    }

    & .microscope-footer {
      padding: 5px 10px;

      p {
        font-size: 10px;
        margin-bottom: 2px;
      }

      .progress {
        margin-bottom: 5px;
        height: 10px;
        border-radius: 0;

        .progress-bar {
          font-size: 6px;
          line-height: 11px;
          color: black;

        }
      }
    }
  }

  margin-bottom: 10px;
  border: 1px solid #e7e7e7;
}

.input-group-btn > .btn {
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.slider-handle {
  width: 15px;
  height: 15px;
  background-color: $primary;
  background-image: linear-gradient(to top, $primary-light 0%, $primary 100%);
}

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -3px;
}

.slider-selection {
  background-color: $primary;
  background-image: linear-gradient(to bottom, $primary-light 0%, $primary-light 100%);
}

live-status .admin-chart {
  height: 80px;
}

.amcharts-chart-div a {
  display: none !important;
}

.about-page {
  li {
    margin-bottom: 5px;
    line-height: 18px;
  }
}

div > iframe {
  bottom: 40px !important;
}

.loader {
  background: url('/assets/img/loader.gif') no-repeat center center;
  background-size: contain;
  min-height: 80px;
  width: 100%;
}

video#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('/assets/img/video.jpg') no-repeat;
  background-size: cover;

}

.navbar-default .navbar-nav > .active > a{
  color:white;
  background-color:#209e91;
  font-weight:600;
}

a.navbar-brand{
  font-weight: 400;
  text-transform: uppercase;
  //opacity: 0.9;
  font-size: 16px;
  padding-left: 22px;
  color:#666;
}

button.progress-button.btn.btn-primary.experiment-progress{
  font-weight: 600;
  width: 100%;
  border-radius: 5px;
  padding:0;
  text-align:center;
}

.ui-tour-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  fill: rgba(0, 0, 0, 0.5);
}