<div class="row">
    <div class="col-xlg-3 col-lg-4 col-md-4 col-sm-6 col-xs-12"
         ng-repeat="microscope in vm.activeMicroscopes | orderBy:vm.ordering ">

        <div class="panel" ng-class="microscope.panelClass">
            <div class="panel-heading clearfix" style="height: 94px;">
                <button class="btn btn-primary pull-right" ng-click="vm.join(microscope)">Start</button>
                <h3 class="panel-title" style="margin-bottom: 8px;">{{microscope.name}} ({{microscope.magnification}}X)   {{microscope.status}} </h3>
                <h4 style="font-size: 16px;margin-bottom: 6px;">Time left: <span>{{microscope.timePending/1000|number:0}} sec</span></h4>
                <h4 style="font-size: 16px;margin-bottom: 8px;">Quality: <uib-rating ng-model="microscope.quality" max="vm.max" read-only="vm.isReadonly" aria-labelledby="default-rating"></uib-rating></h4>

            </div>
            <div class="panel-body">
                <div class="microscope-wrapper">
                    <div class="microscope-main-info">
                        <img ng-src="{{microscope.address}}" style="width:100%">
                    </div>
                    <!--<div class="microscope-footer">-->
                        <!--<div class="progress" ng-repeat="stat in microscope.statistics | orderBy:'name' ">-->
                            <!--<div class="progress-bar" role="progressbar" aria-valuenow="{{stat.value}}"-->
                                 <!--aria-valuemin="0"-->
                                 <!--aria-valuemax="{{stat.max}}" style="width: {{stat.percent|number}}%"-->
                                 <!--ng-class="stat.class">-->
                                <!--<span>{{stat.name | uppercase}}</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>