
\.idea/

db/**/*

bpu/ImageStreamer/**/*.so
bpu/ImageStreamer/**/*.o
bpu/ImageStreamer/**/*.lo

node_modules/**/*

processing/build-opencv/**/*

*.pyc

server/node_modules/**/*
server/public/**/*.min.js
server/public/**/*.min.js.map
server/public/**/*.min.css

shared/node_modules/**/*
controller/node_modules/**/*

bpu/ImageStreamer/mjpg_streamer

bpu/ImageStreamer/raspicam

processing/tools/euglena

processing/tools/euglenamovie

*.log

server/public/media/finalBpuDataLinks/finalBpuData

server/public/media/tars/

server/public/vendor/

server/app\.err

server/app\.out

\.env

deployment\.js

lib-cov
*.DS_Store
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

node_modules
coverage
dbdumps
test-results.xml
dist
yarn.lock
.nyc_output
temp.js
tempStripe.js

.env

.vscode
jsconfig.json
typings
.idea/

# test artifacts
output/

# JetBrains
*.iml

