[submodule "bpu/ImageStreamer/raspicam"]
	path = bpu/ImageStreamer/raspicam
	url = https://github.com/jacksonliam/mjpg-streamer.git
[submodule "processing/euglenatracer"]
	path = processing/euglenatracer
	url = https://github.com/hirklab/euglenatracer.git
[submodule "processing/euglenamovie"]
	path = processing/euglenamovie
	url = https://github.com/hirklab/euglenamovie.git
