extends ../../layouts/default

block head
  title Develop Your Own Biotic Game!
  script(src='/views/developgame/game/game.js')

block neck
  link(rel='stylesheet', href='/views/developgame/index.min.css?#{cacheBreaker}')
  //link(rel='stylesheet', href='http://codemirror.net/1/css/docs.css')
  style.
    #myVideo {
      background-color:#d3d3d3;
      /*width:100%; */     
      float:left;
      z-index:1;
      max-width:100%;
      max-height:100%;
    }

block body
  body(onload='pageDidLoad()')
    div#listener
      embed(id="image_proc", width=0, height=0, src="/views/developgame/game/ImageProc/image_proc.nmf", type="application/x-pnacl")
    div.row
      div.col-xs-12
        div.page-header
          h1 Develop your own biotic game in real-time!
        div.row
          div.col-xs-7#codediv
          div.col-xs-5
            //img#myVideo.unselectable(src='http://fay.iniminimo.com/shapes/giftwrap/giftwrap01.gif')
            //(src='#{data.mainImageIP}')
            //br
            center
              button(id="upButton")
                |Up 
              &nbsp;&nbsp;&nbsp;  
              button(id="downButton")
                |Down
              &nbsp;&nbsp;&nbsp;   
              button(id="leftButton")
                |Left
              &nbsp;&nbsp;&nbsp;
              button(id="rightButton")
                |Right
              &nbsp;&nbsp;&nbsp;
            br
            canvas(id="display", width="640", height="480", hidden="true")
            canvas(id="processed", width="640", height="480")
            h2
              |Status 
              code(id="statusField")
                |Loading...

    script(src='http://code.jquery.com/jquery.min.js')
    script(src='http://codemirror.net/1/js/codemirror.js')
    script(src='http://codemirror.net/1/js/mirrorframe.js')
    script(src='/views/developgame/index.js')
