<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <div ba-panel ba-panel-title="{{vm.group.name}}" ba-panel-class="">
            <div class="user-wrapper">
                <div class="user-main-info">
                    <dl class="row">
                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9">{{vm.group.name}}</dd>

                        <dt class="col-sm-3">Description</dt>
                        <dd class="col-sm-9">{{vm.group.description}}</dd>

                        <dt class="col-sm-3">Settings</dt>
                        <dd class="col-sm-9">
                            <dl class="row" ng-repeat="setting in vm.group.settings">
                                <dt class="col-sm-8">{{setting.key}}</dt>
                                <dd class="col-sm-4">{{setting.value}}</dd>
                            </dl>
                        </dd>

                        <dt class="col-sm-3">Users</dt>
                        <dd class="col-sm-9">
                            {{vm.group.users.join(', ')}}
                        </dd>
                    </dl>

                </div>
                <div class="user-footer">

                </div>
            </div>
        </div>

        <!--<div ba-panel ba-panel-title="">-->
            <!--<div class="row" style="margin-bottom:8px;">-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="btn-group" role="group" aria-label="..." >-->
                        <!--<div class="btn-group" role="group">-->
                            <!--&lt;!&ndash;<button type="button" class="btn"&ndash;&gt;-->
                                    <!--&lt;!&ndash;ng-class="{'btn-success':!vm.microscope.isOn, 'btn-danger':vm.microscope.isOn}"&ndash;&gt;-->
                                    <!--&lt;!&ndash;ng-click="vm.toggleState(!vm.microscope.isOn)">&ndash;&gt;-->
                                <!--&lt;!&ndash;<i class="ion"&ndash;&gt;-->
                                   <!--&lt;!&ndash;ng-class="{'ion-android-radio-button-on':!vm.microscope.isOn, 'ion-android-radio-button-off':vm.microscope.isOn}"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;{{vm.microscope.isOn?'Disable':'Enable&ndash;&gt;-->
                                <!--&lt;!&ndash;'}}&ndash;&gt;-->
                            <!--&lt;!&ndash;</button>&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="btn-group" role="group">&ndash;&gt;-->
                            <!--&lt;!&ndash;<button type="button" class="btn btn-default">Resample</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-md-6 col-xs-12">-->
                    <!--<div class="control">-->
                        <!--<h6>Ambient Light</h6>-->
                        <!--<slider ng-model="vm.ambientLight" min="1" step="1" max="100" value="vm.ambientLight"></slider>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6 col-xs-12">-->
                    <!--<div class="control">-->
                        <!--<h6>Back-light</h6>-->
                        <!--<slider ng-model="vm.backLight" min="1" step="1" max="100" value="vm.backLight"></slider>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">-->

        <!--<div class="row" ng-if="vm.user">-->
            <!--<div class="col-xs-12"-->
                 <!--ba-panel-->
                 <!--ba-panel-title=""-->
                 <!--ba-panel-class="with-scroll">-->

            <!--</div>-->
        <!--</div>-->

        <!--<div class="row" ng-if="vm.user">-->
            <!--<div class="col-xs-12"-->
                 <!--ba-panel-->
                 <!--ba-panel-title="Notes"-->
                 <!--ba-panel-class="with-scroll">-->
            <!--</div>-->
        <!--</div>-->


    </div>
</div>