<main class="auth-main">
    <video autoplay muted loop preload="auto"  id="bg-video">
        <source src="/assets/video/movie.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="auth-block">
        <h1>Interactive Microbiology Lab</h1>
        <h3>Sign-in to your account</h3>
        <a ui-sref="auth.register" class="auth-link">Don't have an account? Sign up!</a>

        <form class="form-horizontal" name="form" ng-submit="signin(form.$valid)" novalidate>
            <div class="form-group has-feedback" ng-class="{ 'has-error': has_error('email') }">
                <label for="email" class="col-sm-3 control-label">Username or Email</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" name="username" placeholder="Username or Email" ng-model="account.username" ng-required="true" backend-validity>
                    <div class="help-block" ng-if="has_error('username')" ng-messages="form.username.$error">
                        <span ng-message="required">Username or Email is required</span>
                        <span ng-message="backend">{{ errors.username }}</span>
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': has_error('password') }">
                <label for="password" class="col-sm-3 control-label">Password</label>

                <div class="col-sm-9">
                    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="account.password" ng-required="true">
                    <div class="help-block" ng-if="has_error('password')" ng-messages="form.password.$error">
                        <span ng-message="required">Password is required</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-auth">Sign in</button>
                    <a class="btn btn-default" ui-sref="auth.forgot_password" href="">Forgot Password?</a>
                </div>
            </div>
        </form>
    </div>
</main>
