<div class="joystick-bounds unselectable">
    <div class="joystick-container unselectable">

        <div class="joystick-pad unselectable"></div>
        <div class="joystick-area unselectable">
            <div class="joystick-button-container">
                <div class="joystick-button"></div>
            </div>
        </div>
        <div class="joystick-arrow-up joystick-arrow unselectable" ></div>
        <div class="joystick-arrow-down joystick-arrow unselectable"></div>
        <div class="joystick-arrow-left joystick-arrow unselectable"></div>
        <div class="joystick-arrow-right joystick-arrow unselectable"></div>
        <div ng-if="debug" class="joystick-debug unselectable">
            <p>
                <small>Angle: {{actual.angle|number:0}}&deg;</small>
            </p>
            <p>
                <small>Intensity: {{actual.magnitude|number:0}}%</small>
            </p>
        </div>
    </div>
</div>