extends ../../layouts/default

block head
  title About

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div.page-header
        h1 Interactive Online Biology
      p.
        Interactive Online Biology Lab is an active research project at #[a(href="http://web.stanford.edu/group/riedel-kruse/index.html") Riedel-Kruse Lab] at Stanford University
        as part of a Ph.D thesis of #[a(href="http://cs.stanford.edu/~zhossain") Zahid Hossain]. The project is now led by Peter Washington. The goal of the project is to develop technologies to provide
        interactive access to a real biology lab over the Internet at scale for concurrent users. This involves designing and implementing custom hardware, Biotic Processing Units (BPU),
        software infrastructure with distributed computing and user friendly interfaces.

      p.
        In this particular online lab, we provide a means to study the phototaxis of a single celled micro-organism called #[a(href="https://en.wikipedia.org/wiki/Euglena") Euglena Gracilis] through
        real experimentation but over the Internet. Users are allowed to run both Live Interactive or Pre-programmed Batch experiments through
        this website and later download data. Besides videos, the downloaded package contains light data, tracking data of every Euglena cells, and other meta data in Excel and JSON formats.
        Therefore, users need to only concentrate on experimental design - while running as many experiments as she wants
        - without having to worry about any wetlab logistics.

      p.
        Supported by NSF grant #132475.

      div.page-header
        h3 References
        ol
            li #[a(href="https://www.biorxiv.org/content/early/2017/12/21/236919") Washington, Peter, Karina Samuel-Gama, Shirish Goyal, and Ingmar H. Riedel-Kruse. "Bioty: A cloud-based development toolkit for programming experiments and interactive applications with living cells." bioRxiv, 2017.]
            li #[a(href="/media/papers/paper1.pdf") Hossain, Zahid, Engin W. Bumbacher, Alice M. Chung, Honesty Kim, Ashley D. Walter, Casey Litton, Sachin N. Pradhan, Kemi Jona, Paulo Blikstein, and Ingmar H. Riedel-Kruse. "Interactive and Scalable Biology Cloud Experimentation for Scientific Inquiry and Education." Nature Biotechnology 34(12), 2016.]
            li #[a(href="/media/papers/paper2.pdf") Hossain, Zahid, Engin W. Bumbacher, Paulo Blikstein, and Ingmar H. Riedel-Kruse. "Authentic Science Inquiry Learning at Scale enabled by an Interactive Biology Cloud Lab." Learning at Scale - In press, 2017.]
            li #[a(href="/media/papers/paper3.pdf") Hossain, Zahid, Xiaofan Jin, Engin W. Bumbacher, Alice M. Chung, Stephen Koo, Jordan D. Shapiro, Cynthia Y. Truong, Sean Choi, Nathan D. Orloff, Paulo Blikstein, and Ingmar H. Riedel-Kruse. "Interactive Cloud Experimentation for Biology: An Online Education Case Study." Proceedings of the 33rd Annual ACM Conference on Human Factors in Computing Systems. ACM, 2015.]
            li #[a(href="/media/papers/paper4.pdf") Hossain, Zahid, Alice M. Chung, and Ingmar H. Riedel-Kruse. "Real-time and turn-based biology online experimentation." Remote Engineering and Virtual Instrumentation (REV), 2015 12th International Conference on. IEEE, 2015.]
      div.page-header
        h3 Contact
        |To contact us, send an email to #[a(href="mailto:biologycloudlab@gmail.com") biologycloudlab@gmail.com] and we will get back to you as soon as possible.
